# Refer to ./jenkins/build.sh for tutorial build instructions 

sphinx
sphinx-gallery
tqdm==4.50.0
numpy==1.19.2
matplotlib==3.3.2
torchvision==0.7.0
PyHamcrest
bs4
awscli==1.16.35

# PyTorch Theme
-e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme

ipython

# to run examples
pandas==1.1.2
scikit-image
# pillow >= 4.2 will throw error when trying to write mode RGBA as JPEG,
# this is a workaround to the issue.
pillow==4.1.1
wget
